html
  head
    title Cube Summation

    link(href='//fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet')
    link(href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css' rel='stylesheet')
    link(href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css' rel='stylesheet')
    link(href='style.css' rel='stylesheet')
  body
    div.container
      h1 Cube Summation

      div.row
        div.column
          h2 Input
          form(method='post')
            textarea(name='input') #{input}
            button.button Run
        div.column
          h2 Output
          pre #{output}
